/*---- scroll bars ----*/

.scroll-bar {
    -fx-background-color: -fx-base;
    -fx-background-insets: 0;
}

/* make horizontal increment/decrement buttons square */
.scroll-bar:horizontal > .increment-button,
.scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.25em 0.416667em; /* 3 5 */
    -fx-background-insets: 0;
}

/* make vertical increment/decrement buttons square */
.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.416667em 0.25em; /* 5 3 */
    -fx-background-insets: 0;
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover {
    -fx-background-color: #ddd;
}
.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
    -fx-background-color: #bbb;
}

/* make thumb flat */
.scroll-bar > .thumb {
    -fx-background-color: #00000022;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar > .thumb:hover {
    -fx-background-color: #00000044;
}
.scroll-bar > .thumb:pressed {
    -fx-background-color: #00000066;
}

.tree-view{
    -fx-border-color:transparent;
    -fx-background-insets: 0;
}
.tree-cell .text-field{
    -fx-border-color:transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color:#D3D3D3;
}

.tree-cell:selected{
    -fx-background-color:#D3D3D3;
}

.split-pane .split-pane-divider {
    -fx-border-color: transparent;
    -fx-border-width: 0.01;
    -fx-background-color: #c0c0c0;
    -fx-padding:0;
}
#welcome{
    -fx-font-size:30;
}

.virtualized-scroll-pane{
    -fx-background-color:white;
}

#leftBtn:pressed{
    -fx-background-color:#c0c0c0;
}
#add:pressed{
    -fx-background-color:#c0c0c0;
}
#toolbar{
    -fx-background-color:#F2F2F2;
    -fx-background-insets:0;
    -fx-padding:0;

}

#toggleContainer{
    -fx-border-color:#c0c0c0;
    -fx-border-width:0 0 0 0;
    -fx-background-insets:0;
}
.radio-button:selected{
    -fx-background-color:white;
    -fx-border-radius:0;
}

.radio-button{
    -fx-background-color:transparent;
    -fx-border-radius:0;
    -fx-border-width:1;
    -fx-border-color:#c0c0c0;
    -fx-padding:3;
}
/*去除radio-button的默认样式*/
.radio-button  .radio{
    -fx-background-color:null;
    -fx-padding:0;

}
.radio-button .radio .dot{
    -fx-background-color:null;
    -fx-padding:0;
}
/**********************************/
/*Menu style*/
.menu-bar{
    -fx-padding: 0;
    -fx-background-color: #F2F2F2;
}
.menu-item{
    -fx-pref-height: 30;
}
.context-menu{
    -fx-padding: 0;
}

.dialog-accept {
    -fx-text-fill: #03A9F4;
    -fx-font-weight: BOLD;
    -fx-padding: 0.7em 0.8em;
}

/*textField*/
.text-field{
    -fx-border-radius: 0;
    -fx-border-color: #BDBDBD;
    -fx-border-insets: 0;
}

/*search*/
#searchUp:hover{
    -fx-border-color: #c0c0c0;
}
#searchDown:hover{
    -fx-border-color: #c0c0c0;
}
.button{
    -fx-background-insets: 0;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 2;
}
.text-field{
    -fx-background-insets: 0;
    -fx-border-color: #BDBDBD;
}